:root {
  --orange: #e76f51;
  --menu-color: #d2d2d2;
  --white: #fff;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  line-height: 1.6;
  font-size: 1.6rem;
}

/* 

Reset CSS

*/
a {
  text-decoration: none;
}

/* 

Helper Class

*/
.color-link {
  color: var(--menu-color);
}
/* 

-- App style --

*/
.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70rem;
  border-bottom-left-radius: 7.5rem;
  border-bottom-right-radius: 7.5rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}

.menu {
  display: none;
}

.menu__item {
  margin-left: 2rem;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -20rem;
  bottom: 0;
  background-color: var(--orange);
  padding: 2rem 1.5rem;
  width: 20rem;
  transition: all 200ms ease-in-out;
}

.nav-menu--open {
  left: 0;
}

.mobile-menu {
}

.mobile-menu__item {
  margin-bottom: 1rem;
}

.mobile-menu__link {
}

.nav-menu__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__link {
  flex-grow: 1;
}

.nav-menu__link--border {
  border: 1px solid var(--white);
  border-radius: 4.5rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

.header__links {
  display: none;
}

.header__link {
  color: #fff;
  font-family: "Roboto Medium";
  margin-left: 2rem;
}

.header__link--border {
  border: 0.1rem solid var(--menu-color);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
}

.nav__btn {
  background-color: var(--white);
  width: 5rem;
  height: 5rem;
  border-radius: 42%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__btn-line {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 0.2rem;
  position: relative;
  transition: all 150ms ease-in-out;
}

.nav__btn-line::after,
.nav__btn-line::before {
  content: "";
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 0.2rem;
  position: absolute;
  transition: all 200ms ease-in-out;
}

.nav__btn-line::after {
  top: 0.6rem;
}

.nav__btn-line::before {
  bottom: 0.7rem;
}

.nav__btn--open .nav__btn-line {
  background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
  transform: rotate(45deg) translate(5px, 6px);
}

.nav__btn--open .nav__btn-line::after {
  transform: rotate(-45deg) translate(3px, -4px);
}
