@media (max-width: 380px) {
  .header-content__caption {
    max-width: 25rem;
  }
  .activities__title {
    font-size: 1.8rem;
  }
  .newsletters__title {
    max-width: 16rem;
  }
  .footer {
    text-align: center;
  }
  .footer__wrapper,
  .footer-content {
    display: block;
  }
  .footer-site-information {
    margin-bottom: 2rem;
  }
  .app-download__banner {
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-content,
  .footer-supports {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .nav__btn {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsletters {
    flex-wrap: nowrap;
    gap: 2rem;
    text-align: left;
  }
  .newsletters__img {
    width: 30rem;
    height: 25rem;
  }
  .footer__scroll-top{
    left: auto;
  }
  .newsletters::before {
    background-size: auto;
    width: auto;
    height: auto;
    top: -5rem;
    left: -40rem;
    background-position: center left;
  }
}

@media (min-width: 992px) {
  .nav__links {
    display: block;
  }
  .header-content__caption {
    max-width: 42rem;
  }
  .newsletters {
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0;
  }
  .newsletters__content {
    width: 47rem;
  }
  .newsletters__caption {
    margin: 0 0 1.5rem 0;
  }
  .footer-supports {
    flex-basis: 100%;
  }
  .footer-content {
    margin-left: 2rem;
  }

}
@media (min-width: 1200px) {
  .footer-supports {
    flex-basis: auto;
  }
  .footer-supports,
  .footer-content,
  .footer__description {
    margin-bottom: 0;
  }
  .newsletters::before {
    top: -15rem;
    left: -30rem;
  }
}
@media (min-width: 1400px) {
}
