# End of https://www.toptal.com/developers/gitignore/api/images
# Created by https://www.toptal.com/developers/gitignore/api/video
# Edit at https://www.toptal.com/developers/gitignore?templates=video

### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm

# End of https://www.toptal.com/developers/gitignore/api/video

# Created by https://www.toptal.com/developers/gitignore/api/audio
# Edit at https://www.toptal.com/developers/gitignore?templates=audio

### Audio ###
*.aif
*.iff
*.m3u
*.m4a
*.mid
*.mp3
*.mpa
*.ra
*.wav
*.wma
*.ogg
*.flac

# End of https://www.toptal.com/developers/gitignore/api/audio