body {
  background-color: #aaa; /*#aaaaaa*/
}
p.main {
  color: #a5f; /*#aa55ff*/
}
/* use (opacity) property */
div.center {
  background-color: green;
  opacity: 0.5;
  width: 300px;
  padding: 10px;
  margin: 8px;
}
/* Use rgba() */
div.city {
  background-color: rgba(0, 255, 0, 0.3);
  width: 300px;
  padding: 10px;
  margin: 8px;
}
