div {
  width: 400px;
}
/* Use background-origin property */
p.one {
  border: 2px dashed blue;
  padding: 15px;
  font-size: large;
  background-image: url("../../images/girls-2.png");
  background-repeat: no-repeat;
  background-origin: border-box;
}
p.two {
  border: 2px dashed blue;
  padding: 15px;
  font-size: large;
  background-image: url("../../images/girls-2.png");
  background-repeat: no-repeat;
  background-origin: padding-box;
}
p.three {
  border: 2px dashed blue;
  padding: 15px;
  font-size: large;
  background-image: url("../../images/girls-2.png");
  background-origin: content-box;
}
