/* element selector */
p {
  color: red;
}
/* class selector */
p.center {
  color: blue;
}
.h1 {
  color: green;
}
/* id selector */
#caption {
  background-color: aqua;
}
/* Univesal selector */
* {
}
/* grouping selector */
p,
h1,
h2 {
  text-align: center;
}
