html {
  font-size: 10px;
  direction: rtl;
}

div {
  width: 500px;
  height: 300px;
}
.content {
  font-size: 2rem; /* 1rem=10px So 2rem=20px*/
  background-color: aqua;
}
p {
  font-size: 3rem;
}
span {
  font-size: 0.5em;
  /* ( 3 * 0.5=1.5 Than 1rem=10px So 1.5* 10= 15px )  */
}
