html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* 
grid-auto-rows
grid-auto-columns
grid-auto-flow
*/
.grid_containert {
  background-color: #2196f3;
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 5rem);
  /* grid-auto-rows: 150px; */
  grid-auto-flow: column;
  grid-auto-columns: 100px;
}
.grid__items {
  background-color: #ff5722;
  border: 1px solid rgba(0, 0, 0, 0.637);
  color: #e1f5fe;
}
