html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
body {
    background-color:#263238;
}
.container {
    width: 1000px;
   margin: 150px auto;
   /* border: 1px solid black; */
}
.box {
    width: 60px;
    height: 60px;
    background-color: #E1F5FE;
    margin: 0 auto;
    border-radius: 100%;
    animation: box-animation 800ms infinite;
}
@keyframes box-animation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}