/* 

--Font Face

*/

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Black";
  src: url("../font/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
}

/* 

--Normalize


*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

/* 

--Grid System

*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > * {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.col {
  max-width: 100%;
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666666%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666666%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666666%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666666%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666666%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666666%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666666%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666666%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666666%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

:root {
  --text-color: #333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --primary-color: #0abead;
  --secondary-color: #f57f17;
}

:root.dark-theme {
  --text-color: #95a5c6;
  --app-bg-color: #161d26;
  --section-bg-color: #1f2935;
}

:root.dark-theme .header,
:root.dark-theme .home__picture,
:root.dark-theme .about,
:root.dark-theme .resume,
:root.dark-theme .pricing,
:root.dark-theme .condition,
:root.dark-theme .package {
  box-shadow: none;
}

:root.dark-theme .home {
  background-image: url("../images/shapes/header-shape\ dark.svg");
}

:root.dark-theme .resume-sample__title {
  color: #f57f17;
}

/* 

--Reset Styles

*/

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 


--Components


*/

.app-btn {
  width: 16rem;
  height: 5rem;
  border-radius: 4rem;
  font-size: 1.3rem;
  display: flex;
  color: #fff;
  font-family: "Poppins SemiBold";
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: 0.1rem 1rem 3rem rgba(9, 190, 173, 41%);
}

.app-btn--orange {
  background-color: var(--secondary-color);
  box-shadow: 0.1rem 1rem 3rem rgba(245, 127, 23, 24%);
}

.section-head {
  text-align: center;
  margin-bottom: 6rem;
}

.section-head__title {
  font-family: "Poppins Bold";
  font-size: 3.2rem;
  color: var(--primary-color);
  margin: 0;
}

.section-head__caption {
  letter-spacing: 0.3rem;
  margin: 0.5rem 0 2.2rem 0;
  font-size: 1.4rem;
}

.section-head__line {
  width: 20rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  position: relative;
  margin: 0 auto;
}

.section-head__line::after {
  content: "";
  width: 3rem;
  height: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

/* 


--Helper Classes


*/

.items-center {
  align-items: center;
}

.flex-col-reverse {
  flex-direction: row;
}

.skew-reset {
  transform: translateZ(0) skewY(6deg);
}

.m-b {
  margin-bottom: 0;
}

.h-full {
  height: 100%;
}

/* 


--App


*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  padding-top: 8rem;
}

/* 

  --Header

*/

.header {
  height: 8rem;
  background-color: var(--section-bg-color);
  box-shadow: 0 0.5rem 5rem rgba(4, 195, 255, 16%);
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  z-index: 100;
}

.menu__item {
}

.menu__item--active {
  color: var(--primary-color);
}

.menu__link {
  color: inherit;
  font-family: "Poppins Medium";
  display: block;
  font-size: 1.4rem;
  transition: color 120ms ease-in;
}

.menu__link:hover {
  color: var(--primary-color);
}

.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__toggle-line {
  position: relative;
  transition: all 100ms ease-in-out;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  background-color: var(--primary-color);
  width: 3.5rem;
  height: 0.4rem;
  border-radius: 50rem;
}

.nav__toggle-line::before {
  top: 1rem;
  position: absolute;
  transition: all 120ms ease-in;
}

.nav__toggle-line::after {
  bottom: 1rem;
  position: absolute;
  transition: all 120ms ease-in-out;
}

.nav__toggle-icon--open .nav__toggle-line {
  background-color: transparent;
}

.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(-1rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(1rem) rotate(45deg);
}

/*


--Main


*/

/* 

==========
   Home 
==========

*/

.home {
  margin-top: 8rem;
  background: url("../images/shapes/header-shape.svg") no-repeat bottom;
  height: 75rem;
}

.home__name {
  color: var(--primary-color);
  margin: 0;
  font-family: "Poppins SemiBold";
  font-size: 2.5rem;
}

.home__name span {
  color: var(--secondary-color);
}

.home__title {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 1rem 0;
  font-family: "Poppins Bold";
}

.home__caption {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  opacity: 70%;
}

.home__links-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.home__picture {
  width: 42.5rem;
  height: 42.5rem;
  background: url("../images/header-avatar.jpg") center no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  border: 2rem solid var(--section-bg-color);
}

/* 


==============
   About us
==============


*/

.about-us {
  padding-top: 10rem;
}

.about {
  display: flex;
  background-color: var(--section-bg-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  min-height: 55rem;
}
.about__picture {
  flex-basis: 52%;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content {
  flex-basis: 48%;
  padding-left: 3rem;
  margin-top: 3rem;
}
.about__title {
  font-family: "Poppins SemiBold";
  font-size: 2rem;
  margin: 0;
}
.about__description {
  font-size: 1.4rem;
  margin: 1rem 0 6rem 0;
  max-width: 46rem;
}
.about__list-title {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Poppins SemiBold";
  color: var(--primary-color);
}

.about-list {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.about-list__item {
  margin-top: 1rem;
  padding-left: 3.2rem;
  position: relative;
}

.about-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.about__links {
  display: flex;
  gap: 1.5rem;
  margin-top: 3.5rem;
}

/* 


=============
   Services
=============


*/

.services {
  padding-top: 10rem;
}
.service {
  padding: 8rem 4rem;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 5;
  height: 100%;
}

.service__title {
  font-size: 2rem;
  font-family: "Poppins Bold";
  margin: 1rem 0;
}
.service__description {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.service__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* 

===========================
    Service Color-Shadow
===========================

*/
.service--purple {
  background-color: #803afb;
  box-shadow: 0 0 4rem rgba(118, 13, 255, 35%);
}
.service--yellow {
  background-color: #ffc50c;
  box-shadow: 0 0 4rem rgba(255, 197, 12, 35%);
}
.service--red {
  background-color: #ec407a;
  box-shadow: 0 0 4rem rgba(236, 64, 122, 35%);
}
.service--orange {
  background-color: #ff6331;
  box-shadow: 0 0 4rem rgba(255, 99, 49, 35%);
}
.service--blue {
  background-color: #13b6ff;
  box-shadow: 0 0 4rem rgba(19, 182, 255, 35%);
}
.service--green {
  background-color: #49af46;
  box-shadow: 0 0 4rem rgba(73, 175, 70, 35%);
}

/* 

===========
   Resume
===========

*/

.resume {
  margin-top: 8rem;
  box-shadow: 0 0 6rem rgba(19, 182, 255, 24%);
  transform: translateZ(0) skewY(-6deg);
  background-color: var(--section-bg-color);
  padding: 8rem 0;
}

.resume__wrapper {
  display: flex;
  gap: 1.5rem;
}
.condition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  flex-basis: 35%;
  position: relative;
  z-index: 5;
  background-color: var(--app-bg-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  min-height: 38rem;
}

.condition__line {
  position: absolute;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  z-index: -1;
}

.condition__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
}

.condition__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5.4rem;
  max-width: 26rem;
  background-color: var(--primary-color);

  z-index: -1;
  border-radius: 3rem;
  transition: all 200ms ease-in;
}

.condition__item--active {
  color: #fff;
}

.condition__item--active::before {
  width: 100%;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
}

.condition__shape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.condition__icon {
  margin: 0 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
}
.condition__text {
  margin: 0;
  font-family: "Poppins";
  transition: all 200ms ease-in;
}

.resume__content {
  flex-basis: 65%;
}

.resume-sample {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 200ms ease-in;
}

.resume-sample--show {
  height: auto;
  opacity: 1;
  overflow: visible;
}

.resume-sample__line {
  content: "";
  position: absolute;
  width: 0.2rem;
  background: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 0.8rem;
}

.resume-sample__item {
  padding-left: 3rem;
}

.resume-sample__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume-sample__title {
  color: #ff5823;
  font-family: "Poppins SemiBold";
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.resume-sample__title::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 100%;
  top: 0;
  left: -2.8rem;
  bottom: 0;
  margin: auto 0;
}

.resume-sample__subtitle {
  font-family: "Poppins SemiBold";
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}
.resume-sample__caption {
  font-size: 1.4rem;
  margin: 0;
}

.resume-sample__date {
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.2rem 1rem;
  box-shadow: 0 0.2rem 6rem rgba(245, 127, 23, 24%);
}

/* 

==============
   Portfolio
==============

*/
.portfolio {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.list-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
}
.list-portfolio__item {
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: all 120ms ease-in;
}

.portfolio-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 120ms ease-in;
}
.portfolio-content--show {
  height: auto;
  opacity: 1;
}

.list-portfolio__item--active {
  background-color: var(--primary-color);
  color: #fff;
}
.portfolio-content__img {
  width: 100%;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 1.8rem !important;
  height: 1.8rem !important;
  background-color: #fff !important;
  border: 0.3rem solid #bfbebe !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  border-color: var(--primary-color) !important;
}

/* 

==============
   Pricing
==============

*/

.pricing {
  margin-top: 8rem;
  box-shadow: 0 0 6rem rgba(19, 182, 255, 24%);
  transform: translateZ(0) skewY(-6deg);
  background-color: var(--section-bg-color);
  padding: 8rem 0 12rem 0;
}

.package {
  background-color: var(--app-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
}
.package__head {
  width: 100%;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
}

.package__head--orange {
  background-color: #ff6331;
}

.package__head--purple {
  background-color: #803afb;
}

.package__head--pink {
  background-color: #f5276c;
}

.package__type {
  margin: 0;
  font-family: "Poppins SemiBold";
  font-size: 2.5rem;
}
.package__price {
  font-size: 2rem;
  margin: 0.6rem 0;
  font-family: "Poppins SemiBold";
}
.package__filter {
  margin: 0;
  font-size: 1.4rem;
}
.package-options {
  font-size: 1.4rem;
  margin: 2rem 0;
}
.package-options__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.package-options__item:last-child {
  margin-bottom: 0;
}

.package-options__icon {
}
.package__btn {
  margin-bottom: 2.5rem;
}
.package__link {
  margin: 0 auto;
}

.app-btn--purple {
  background-color: #803afb;
  box-shadow: 0.1rem 1rem 3rem rgba(128, 58, 251, 24%);
}

.app-btn--pink {
  background-color: #f5276c;
  box-shadow: 0.1rem 1rem 3rem rgba(245, 39, 108, 24%);
}

/* 

================
   Contact us
================

*/
.contactus {
  margin-top: 10rem;
}

.contactus__wrapper {
  background-image: url("../images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  height: 65rem;
}

.contactus__map-icon {
  width: 6rem;
  height: 6rem;
  background-color: var(--app-bg-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 20%;
}

.contactus__icon {
  width: 2rem;
}

.contact {
  max-width: 50rem;
  margin-left: auto;
  padding: 3.5rem;
  background-color: var(--section-bg-color);
  box-shadow: 0 0 4rem rgba(19, 182, 255, 24%);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.contact__title {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-family: "Poppins Bold";
  margin-bottom: 1rem;
  margin-top: 0;
}
.contact__input,
.contact__btn {
  border: none;
  outline: none;
  padding: 1.2rem 0;
  border-radius: 0.8rem;
}

.contact__input {
  padding-left: 2.5rem;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  background-color: var(--app-bg-color);
  color: var(--text-color);
}

.contact__input::placeholder {
  color: inherit;
  font-size: 1.4rem;
}

.contact__input--resize {
  resize: vertical;
  min-height: 8rem;
  max-height: 18rem;
}

.contact__btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: #fff;
  font-family: "Poppins SemiBold";
}

/* 

  --Footer

*/
.footer {
  background-color: var(--app-bg-color);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer__copyright {
  font-family: "Poppins SemiBold";
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__social {
  background-color: var(--text-color);
  border-radius: 100%;
  padding: 0.3rem;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social:hover {
  background-color: var(--primary-color);
}

.footer__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--app-bg-color);
}

.change-theme {
  background-color: var(--text-color);
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}

/* 

--Responsive

*/

@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .home__picture {
    width: 39rem;
    height: 39rem;
  }

  .home {
    height: 67rem;
  }

  .service {
    padding: 8rem 2rem;
  }
}

@media (max-width: 992px) {
  .menu {
    gap: 2.2rem;
  }

  .home {
    height: 60rem;
  }

  .home__title {
    font-size: 2.3rem;
  }

  .home__name {
    font-size: 1.5rem;
  }

  .about__picture,
  .about__content {
    flex-basis: 50%;
  }

  .resume__wrapper {
    flex-direction: column;
  }

  .condition__line,
  .condition__shape {
    display: none;
  }

  .condition__item::before {
    content: none;
  }

  .condition {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    min-height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .condition__item {
    border-radius: 4rem;
    padding: 1rem 3rem;
    transition: all 120ms ease-in;
  }

  .condition__item--active {
    color: #fff;
    background-color: var(--primary-color);
  }

  .condition__text {
    transition: none;
  }

  .contactus__map-icon {
    display: none;
  }

  .contact {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .menu {
    background-color: var(--section-bg-color);
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in;
    height: 0;
    overflow: hidden;
  }

  .menu--open {
    height: 33rem;
  }

  .nav__toggle-icon {
    display: flex;
  }

  .cover {
    position: fixed;
    background-color: rgba(0, 0, 0, 10%);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 150ms ease-in;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }

  .home {
    background-image: none;
    height: auto;
    margin-top: 4rem;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  .home__content {
    text-align: center;
  }

  .home__links-wrapper {
    justify-content: center;
  }

  .home__picture {
    width: 35rem;
    height: 35rem;
  }

  .about {
    flex-direction: column;
  }

  .about__picture,
  .about__content {
    flex-basis: auto;
  }

  .service {
    padding: 4rem 1rem;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    gap: 0.8rem;
  }
}

@media (max-width: 576px) {
  * {
    cursor: default !important;
  }

  .home__picture {
    width: 25rem;
    height: 25rem;
  }

  .home__caption {
    font-size: 1.1rem;
  }

  .service__wave {
    display: none;
  }

  .resume-sample__item {
    padding: 0;
  }

  .resume-sample__title::before {
    content: none;
  }
  .resume-sample__line {
    display: none;
  }
}

@media (max-width: 410px) {
  .home__links-wrapper {
    flex-wrap: wrap;
  }

  .home__link {
    width: 100%;
  }

  .about__content {
    padding-left: 2rem;
  }

  .about__links {
    flex-wrap: wrap;
  }

  .about__link {
    width: 100%;
  }

  .service {
    padding: 5rem 2rem;
  }

  .service__wave {
    display: block;
  }

  .resume-sample__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .resume-sample__title {
    margin-bottom: 0.5rem;
  }

  .resume-sample__date {
    margin-bottom: 0.5rem;
  }

  .contact {
    padding: 3.5rem 2rem;
  }
}
