@import "normalize.css";
@import "fonts.css";
@import "grid.css";

:root {
  --text-color: #333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --primary-color: #0abead;
  --secondary-color: #f57f17;
}

/* 

--Reset Styles

*/

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 


--Components


*/

.app-btn {
  width: 16rem;
  height: 5rem;
  border-radius: 4rem;
  font-size: 1.3rem;
  display: flex;
  color: #fff;
  font-family: "Poppins SemiBold";
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: 0.1rem 1rem 3rem rgba(9, 190, 173, 41%);
}

.app-btn--orang {
  background-color: var(--secondary-color);
  box-shadow: 0.1rem 1rem 3rem rgba(245, 127, 23, 24%);
}

/* 


--Helper Classes


*/

.items-center {
  align-items: center;
}

.flex-col-reverse {
  flex-direction: row;
}

/* 


--App


*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  padding-top: 8rem;
}

/* 

  --Header

*/

/* 


================
  Desktop Menu
================


*/

.header {
  height: 8rem;
  background-color: var(--section-bg-color);
  box-shadow: 0 0.5rem 5rem rgba(4, 195, 255, 16%);
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  z-index: 100;
}

.menu__item {
}

.menu__link {
  color: var(--text-color);
  font-family: "Poppins Medium";
  display: block;
  font-size: 1.4rem;
  transition: color 150ms ease-in;
}
.menu__link-active {
  color: var(--primary-color);
}

.menu__link:hover {
  color: var(--primary-color);
}

/* 


================
  Mobile Menu
================


*/

.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__toggle-line {
  position: relative;
  transition: all 100ms ease-in-out;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  background-color: var(--primary-color);
  width: 3.5rem;
  height: 0.4rem;
  border-radius: 50rem;
}

.nav__toggle-line::before {
  top: 1rem;
  position: absolute;
  transition: all 150ms ease-in;
}

.nav__toggle-line::after {
  bottom: 1rem;
  position: absolute;
  transition: all 150ms ease-in-out;
}

.nav__toggle-icon--open .nav__toggle-line {
  background-color: transparent;
}

.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(-1rem) rotate(-45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(1rem) rotate(45deg);
}

.nav__mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--section-bg-color);
  transition: all 150ms ease-in;
  z-index: 100;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.mobile-menu:first-child {
  margin-top: 2rem;
}

.mobile-menu:last-child {
  margin-bottom: 2rem;
}

.nav__mobile--open {
  height: 33rem;
}

.mobile-menu__item {
}

.mobile-menu__link {
  color: var(--text-color);
  transition: color 150ms ease-in;
}

.mobile-menu__link--active {
  color: var(--primary-color);
}

.mobile-menu__link:hover {
  color: var(--primary-color);
}

/* 


--Main


*/

/* 

================
  Home Section
================

*/

.main {
}

.home {
  margin-top: 8rem;
  background: url("../images/shapes/header-shape.svg") no-repeat bottom;
  height: 75rem;
}

.home__content {
}

.home__name {
  color: var(--primary-color);
  margin: 0;
  font-family: "Poppins SemiBold";
  font-size: 2.5rem;
}

.home__name span {
  color: var(--secondary-color);
}

.home__title {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 1rem 0;
  font-family: "Poppins Bold";
}

.home__caption {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  opacity: 70%;
}

.home__links-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* .home__link {
  flex-shrink: 0;
} */

.home__picture {
  width: 47rem;
  height: 47rem;
  background: url("../images/header-avatar.jpg") center no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  border: 2rem solid var(--section-bg-color);
}
