@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .menu {
    gap: 2.2rem;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .nav__toggle-icon {
    display: flex;
  }

  .nav__mobile {
    display: block;
  }

  .cover {
    position: fixed;
    background-color: rgba(0, 0, 0, 50%);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 150ms ease-in;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }
}

@media (max-width: 576px) {
}
