@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .home__picture {
    width: 39rem;
    height: 39rem;
  }

  .home {
    height: 67rem;
  }

  .service {
    padding: 8rem 2rem;
  }
}

@media (max-width: 992px) {
  .menu {
    gap: 2.2rem;
  }

  .home {
    height: 60rem;
  }

  .home__title {
    font-size: 2.3rem;
  }

  .home__name {
    font-size: 1.5rem;
  }

  .about__picture,
  .about__content {
    flex-basis: 50%;
  }

  .resume__wrapper {
    flex-direction: column;
  }

  .condition__line,
  .condition__shape {
    display: none;
  }

  .condition__item::before {
    content: none;
  }

  .condition {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    min-height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .condition__item {
    border-radius: 4rem;
    padding: 1rem 3rem;
    transition: all 120ms ease-in;
  }

  .condition__item--active {
    color: #fff;
    background-color: var(--primary-color);
  }

  .condition__text {
    transition: none;
  }

  .contactus__map-icon {
    display: none;
  }

  .contact {
   margin-right: auto;
  }
}

@media (max-width: 768px) {

  .menu {
    background-color: var(--section-bg-color);
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in;
    height: 0;
    overflow: hidden;
  }

  .menu--open{
    height: 33rem;
  }

  .nav__toggle-icon {
    display: flex;
  }

  .cover {
    position: fixed;
    background-color: rgba(0, 0, 0, 10%);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 150ms ease-in;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }

  .home {
    background-image: none;
    height: auto;
    margin-top: 4rem;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  .home__content {
    text-align: center;
  }

  .home__links-wrapper {
    justify-content: center;
  }

  .home__picture {
    width: 35rem;
    height: 35rem;
  }

  .about {
    flex-direction: column;
  }

  .about__picture,
  .about__content {
    flex-basis: auto;
  }

  .service {
    padding: 4rem 1rem;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    gap: 0.8rem;
  }
}

@media (max-width: 576px) {
  .home__picture {
    width: 25rem;
    height: 25rem;
  }

  .home__caption {
    font-size: 1.1rem;
  }

  .service__wave {
    display: none;
  }

  .resume-sample__item {
    padding: 0;
  }

  .resume-sample__title::before {
    content: none;
  }
  .resume-sample__line {
    display: none;
  }
}

@media (max-width: 410px) {
  .home__links-wrapper {
    flex-wrap: wrap;
  }

  .home__link {
    width: 100%;
  }

  .about__content {
    padding-left: 2rem;
  }

  .about__links {
    flex-wrap: wrap;
  }

  .about__link {
    width: 100%;
  }

  .service {
    padding: 5rem 2rem;
  }

  .service__wave {
    display: block;
  }

  .resume-sample__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .resume-sample__title {
    margin-bottom: 0.5rem;
  }

  .resume-sample__date {
    margin-bottom: 0.5rem;
  }

  .contact {
    padding: 3.5rem 2rem;
  }
}
