html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
.container {
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
}
.box {
  width: 200px;
  height: 80px;
  transform: translateX(5px);
  color: #64dd17;
  transition: background-color 450ms ease-out, transform 1200ms ease-out;
}
.container:hover :first-child {
  background-color: #fbc02d;
  transform: translate(-600px);
}
.box-n {
  border-radius: 10px;
  text-align: center;
  margin-top: 26px;
  background-color: #6a1b9a;
  padding: 28px 0;
}
.appear {
  width: 200px;
  height: 80px;
  background-color: #6a1b9a;
  border-radius: 10px;
  text-align: center;
  color: #0288d1;
  transform: translateX(5px);
  margin-top: 26px;
  padding: 28px 0;
  transform: translateX(400px);
  transition: background-color 450ms ease-out, transform 1000ms ease-out;
}
.container:hover .appear {
  transform: translateX(92px);
  background-color: #fbc02d;
}
