* {
  box-sizing: border-box;
}

.content1 {
  width: 300px;
  border: 2px solid red;
  margin: 30px;
  padding: 7px;
  border-radius: 10px;
}
.content2 {
  /* outline-width: 5px;
  outline-style: solid;
  outline-color: blue; */

  /* Use outline property (Shorthand)*/
  outline: 5px solid blue;
  outline-offset: 8px;
}

input {
  outline: none;
}
