html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex_container {
  width: 80rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #80deea;
  padding: 0.25rem;
  display: flex;
  align-items: flex-end;
}
.flex_items {
  width: 7rem;
  height: 7rem;
  background-color: #d84315;
  text-align: center;
  font-size: 3rem;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_container,
.flex_items {
  border-radius: 0.5rem;
}
.flex_container .flex_items:nth-child(odd) {
  background-color: #00695c;
}
.flex_items:nth-child(odd) {
    align-self: flex-start;
}